<html>
    <head>
        <meta charset="utf-8">
        <style>
            html,body{
                width: 100%;
                margin: 0;
                padding:0;
            }
            #canvas {
            display: block;
               margin: 0;
               padding:0;
            }
            #gameWindow{
                position:absolute;
                right:10;
                top:10;
                width: 400px;
                height: 300px;
                border: 1px solid black;
                overflow: auto;
            }
            #gameWindow div{
                margin: 2px;
            }
            #chatWindow{
                position:absolute;
                right:10;
                bottom:10;
                width: 400px;
                height: 450px;
                border: 1px solid black;
            }
            #operationWindow{
                position:absolute;
                right:40;
                top:340;
                font-size: 24px;
                z-index: 777;
            }
           
            #pickDiv {
                display: block;
                z-index: 100;
            }
            #pickDiv input{
                width: 100px;
                height: 40px;
                font-size: 18px;
            }
             #prepareBtn{
                width:180px;
                height:40px;
                font-size: 20px;
            }
           
            #nickWrapper {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba(5, 5, 5, .6);
                text-align: center;
                color: #fff;
                display: block;
                padding-top: 200px;
                z-index: 888;
            }

            #nickNameInput{
                width: 600px;
                height: 100px;
                font-size: 30px;
            }
            #loginBtn{
                width: 100px;
                height: 100px;
                font-size: 30px;
            }
            #historyMsg {
                border:1px solid;width:400px;height:300px;
                overflow: auto;
            }
            #messageInput{
                width: 350px;
                height: 50px;
            }
           .messageSendDiv{
               margin-top:5px;
               display: flex;
           }
           #info{
               font-size: 44px;
               font-weight: bold;
               color:red;
               background-color: greenyellow;
           }
           #currentPlayer{
               font-size: 20px;
               color:red;
               font-weight: bold;
           }
        </style>
    </head>
    <body>
        <canvas id="canvas"></canvas>
        <div id="nickWrapper" >
            <div id="info">
            </div>
            <input id='nickNameInput' value="kdr20151005" placeholder="输入开采夫员工编号"/> 
            <input id="loginBtn"  value="ok" type="button" />
        </div>
        <div id="gameWindow">  
            <h3>游戏窗口</h3> 
            <span>游戏状态：</span>
            <span id='gameState'>选人状态</span> 
            <span id='currentPlayer'></span>
        </div>
        <div id='operationWindow'>
            <div id="pickDiv">
                <input value='选择红方' style="margin-left:105px;background:red" type="button" id="redBtn" data='red' />
                <br/>
                <input value='选择黄方' style="margin-right:0px;background:yellow" type="button" id="yellowBtn" data='yellow' />
                <input value="准备" type="button" id="prepareBtn" style="height:30px;width:80px;"/>
                <input value='选择蓝方' style="background:blue" type="button" id="blueBtn" data='blue'/>
                <br/>
                <input value='选择绿方' style="margin-left:105px;background:green" type="button" id="greenBtn" data='green'/>
                <br/>
             <!--   <input value='我只想做个安静的美男(女)子' style="background:pink;width:320px;margin-top:10px" type="button" id="observerBtn"/>-->
            </div>
            <!--<span id="prepareTip">未准备</span>-->
        </div>
        <div id="chatWindow">
            <h3>聊天窗口</h3>
            <div id='status'>在线人数</div>
            <div id="historyMsg" style=""></div>
            <div class="messageSendDiv">
                <textarea id='messageInput'></textarea>
                <input type="button" value="发送" id="sendBtn"/>
            </div>
        </div>
    </body>
    <script src="js/socket.io-1.4.5.js"></script>
    <script>
        !function(){
            // kcharf array 扩展
            Array.prototype.in_array = function(e)
            {
                for(i=0;i<this.length;i++)
                {
                if(this[i] == e)
                return true;
                }
                return false;
            }
        }();
        
var canvas = document.getElementById('canvas');

var ctx = canvas.getContext('2d');
var firstCamp = null;
var secondCamp = null;
var pieces =['司令','军长','师长','师长','旅长','旅长','团长','团长','营长','营长','炸弹','炸弹','连长','连长','连长','排长','排长', '排长','工兵','工兵','工兵','地雷','地雷','军旗','地雷'];
 var chessBoard = [];
var maxRows= 17;
var maxCols = 17;
var chessW = 40;
var chessH = 20;
var hichat;
var game;
var moveCampIdxAry = [
        '12,7','12,9','13,8','14,7','14,9', 
        '4,7','4,9','3,8','2,7','2,9',
        '7,4','9,4','8,3','7,2','9,2',
        '7,12','9,12','8,13','7,14','9,14'
        ]; //行营索引集
var homeCampIdxAry = [
        '16,7','16,9', 
        '0,7','0,9',
        '7,0','9,0',
        '7,16','9,16'
        ]; //大本营索引集
var middleCampIdxAry = [
    [6,6],[6,8],[6,10],
    [8,6],[8,8],[8,10],
    [10,6],[10,8],[10,10],
];
var RailRoad = function(x,y, x1, y1){
    this.x = x;
    this.y = y;
    this.x1 = x1;
    this.y1 = y1;
}
var railRoadRowAry = [1, 5, 6, 8, 10, 11, 15];
var railRoadColAry = [1, 5, 6, 8, 10, 11, 15];
var railRoadRowDic = {};
var railRoadColDic = {};

function initRailRoadDataSource(){
    railRoadRowAry.forEach(function(d, i){
        railRoadRowDic[d] = [];
    })
    railRoadColAry.forEach(function(d, i){
        railRoadColDic[d] = [];
    })
    for (var i = 6 ; i < 11; i++){
        var ary = [];
        var col = [];
        ary.push(i, 1);
        col.push(1, i);
        railRoadRowDic[1].push(ary);
        railRoadColDic[1].push(col);
        ary = [];
        col = [];
        ary.push(i, 5);
        col.push(5, i);
        railRoadRowDic[5].push(ary);
        railRoadColDic[5].push(col);
        ary = [];
        col = [];
        ary.push(i, 11);
        col.push(11, i);
        railRoadRowDic[11].push(ary);
        railRoadColDic[11].push(col);
        ary = [];
        col = [];
        ary.push(i, 15);
        col.push(15, i);
        railRoadRowDic[15].push(ary);
        railRoadColDic[15].push(col);
    } 
    for(var i = 1; i < 16; i++){
        var ary = [];
        var col = [];
        ary.push(i, 6);
        col.push(6, i);
        railRoadRowDic[6].push(ary);
        railRoadColDic[6].push(col);
        ary = [];
        col = [];
        ary.push(i, 10);
        col.push(10, i);
        railRoadRowDic[10].push(ary);
        railRoadColDic[10].push(col);
    }
    for(var i = 5; i < 12; i++){
        var ary = [];
        var col = [];
        ary.push(i, 8);
        col.push(8, i);
        railRoadRowDic[8].push(ary);
        railRoadColDic[8].push(col);
    }
}

initRailRoadDataSource();

var drawCamp =  function(camp, i, j, player, _showChessName = false){
    if(homeCampIdxAry.in_array(String.prototype.concat(i,',',j))){
        camp.type = '大本营';
        camp.draw();
    }
    if(moveCampIdxAry.in_array(String.prototype.concat(i,',',j))){
        camp.type= '行营';
        camp.draw();
    }else{
        camp.draw();
        if(player){
            var chess = player.getChess();
            if(_showChessName){
                chess.isShowName = true;
            }
            camp.drawChess(chess);
        }
    }
}

var config = {
    state: {
        pick: '选人状态', 
        preparing: '准备中',
        prepared: '已准备',
        started: '已开始',
        over: '已结束'
    },
    color: {
        red: '#ff6666',
        yellow: '#ffcc00',
        blue: '#99ccff',
        green: '#66cc00'
    },
    judgment: {
        win: 'win',
        success: 'success',
        fail: 'fail',
        die: 'die' //平了 双方都阵亡
    }
}

var Chess = function(){
    this.name = '';
    this.fillColor = '#000';
    this.isShowName = false;
    this.type = '';
}

var Player = function(type){
    this.name = '';
    this.type = type; // red , yellow, blue, green
    this.teamPlayer = null; // 队友
    this.nextPlayer = null; // 下家，右方的席位
    this.lastPlayer = null; // 上家，左方的席位
    this.chesses = [];
    this.chessIdx = 0;
    this.isOnline = false; 
    this.state = config.state.pick;
    this.initChess();
}

Player.prototype = {
    initChess: function(){
        this.chesses = [];
        for(var i = 0 ; i < pieces.length; i++){
            var chess = new Chess();
            chess.name = pieces[i];
            chess.fillColor = config.color[this.type];
            chess.type = this.type;
            this.chesses.push(chess); 
        }
    },
    getChess : function(){
        if(this.chessIdx == 25){
            this.chessIdx = 0;
        }
        return this.chesses[this.chessIdx++]
    },
    getType: function(){
        if(this.type == 'red'){
            return '红方';
        }else if(this.type == 'blue'){
            return '蓝方';
        }else if(this.type == 'yellow'){
            return '黄方';
        }else if(this.type == 'green'){
            return '绿方';
        }
        return '未选择';
    },
    setOnline: function(isOnline){
        this.isOnline = isOnline;
    },
    setName: function(name){    
        this.name = name;
    },
    setType: function(type){
        this.type = type;
    },
    setState: function(state){
        this.state = state;
    },
    renderPrepare: function(){
        this.initChess();
      
        // 下方 （玩家主视角)
        for(var i = 11; i < 17; i++){
            for(var j= 6; j < 11; j++){
                var camp = chessBoard[i][j];
                camp.setSize(chessW, chessH);
                // drawCamp(camp, i, j , hichat.player , true);
                drawCamp(camp, i, j , hichat.greenPlayer , true);
            }
        }
        /// 上方
        for(var i = 5; i >= 0; i--){
            for(var j= 6; j < 11; j++){
                var camp = chessBoard[i][j];
                camp.setSize(chessW, chessH);
                camp.setTextRotate(-Math.PI);
                // drawCamp(camp, i, j ,hichat.player.teamPlayer);
                drawCamp(camp, i, j ,hichat.redPlayer);
            }
        }
        //  左方
        for(var j = 5; j >=0; j--){
            for(var i= 6; i < 11; i++){
                var camp = chessBoard[i][j];
                camp.setSize(chessH, chessW);
                camp.setTextRotate(Math.PI/2);
                // drawCamp(camp, i, j ,hichat.player.lastPlayer);
                drawCamp(camp, i, j ,hichat.yellowPlayer);
            }
        }
        // 右方
        for(var j = 11; j <17; j++){
            for(var i= 6; i < 11; i++){
                var camp = chessBoard[i][j];
                camp.setSize(chessH, chessW);
                camp.setTextRotate(-Math.PI/2);
                // drawCamp(camp, i, j ,hichat.player.nextPlayer);
                drawCamp(camp, i, j ,hichat.bluePlayer);
            }
        }
    },
    initOtherPlayer: function(){ // 默认红黄绿蓝 逆时针续
        var nextPlayer = new Player();
        var teamPlayer = new Player();
        var lastPlayer = new Player();
        if(this.type == 'red'){
            nextPlayer.type = 'yellow';
            teamPlayer.type = 'green';
            lastPlayer.type = 'blue';
            // this.redPlayer = this;
            // this.bluePlayer = lastPlayer;
            // this.greenPlayer = teamPlayer;
            // this.yellowPlayer= nextPlayer;
        }
        if(this.type == 'yellow'){
            // this.yellowPlayer = this;
            // this.redPlayer = lastPlayer;
            // this.bluePlayer = teamPlayer;
            // this.greenPlayer= nextPlayer;
            nextPlayer.type = 'green';
            teamPlayer.type = 'blue';
            lastPlayer.type = 'red';
        }
        if(this.type == 'green'){
            // this.greenPlayer = this;
            // this.yellowPlayer = lastPlayer;
            // this.redPlayer = teamPlayer;
            // this.bluePlayer= nextPlayer;
            nextPlayer.type = 'blue';
            teamPlayer.type = 'red';
            lastPlayer.type = 'yellow';
        }
        if(this.type == 'blue'){
            // this.bluePlayer = this;
            // this.greenPlayer = lastPlayer;
            // this.yellowPlayer = teamPlayer;
            // this.redPlayer = nextPlayer;
            nextPlayer.type = 'red';
            teamPlayer.type = 'yellow';
            lastPlayer.type = 'green';
        }
        this.nextPlayer = nextPlayer;
        this.teamPlayer = teamPlayer;
        this.lastPlayer = lastPlayer;
        this.teamPlayer.initChess();
        this.nextPlayer.initChess();
        this.lastPlayer.initChess();

        // this.greenPlayer.initChess();
        // this.bluePlayer.initChess();
        // this.yellowPlayer.initChess();
        // this.redPlayer.initChess();
    },
    findPlayerByType: function(type){
        if(this.type == type){
            return this;
        }
        if(this.nextPlayer.type == type){
            return this.nextPlayer;
        }
        if(this.teamPlayer.type == type){
            return this.teamPlayer;
        }
        if(this.lastPlayer.type == type){
            return this.lastPlayer;
        }
    },
    findPlayerByName: function(name){
        if(this.nextPlayer && this.nextPlayer.name == name){
            return this.nextPlayer;
        }
        if(this.teamPlayer && this.teamPlayer.name == name){
            return this.teamPlayer;
        }
        if(this.lastPlayer && this.lastPlayer.name == name){
            return this.lastPlayer;
        }
        return this;
    }
}


var HiChat = function(){
    this.socket = null;
    this.player = null;
    this.firstCamp = null;
    this.secondCamp = null;
    this.playerDic = {}; 
}

HiChat.prototype = {
    init: function(){
        this.initPlayer();
        var that = this;
        this.socket = io.connect();
        this.socket.on('connect', function(){
            document.getElementById('nickWrapper').style.display = 'block';
            document.getElementById('nickNameInput').focus();
            
        })
        document.getElementById('sendBtn').addEventListener('click', function(){
            var messageInput = document.getElementById('messageInput'), 
                msg = messageInput.value;
                messageInput.value = '';
                messageInput.focus();
                if(msg.trim().length != 0){
                    that.socket.emit('postMsg', msg); //把消息发送到服务器
                    that._displayNewMsg('me', msg); //把自己的消息显示到自己的窗口中 
                }
        }, false);
        document.getElementById('loginBtn').addEventListener('click', function() {
            var nickName = document.getElementById('nickNameInput').value;
            //检查昵称输入框是否为空
            if (nickName.trim().length != 0) {
                //不为空，则发起一个login事件并将输入的昵称发送到服务器
                that.socket.emit('login', nickName);
            } else {
                //否则输入框获得焦点
                document.getElementById('nickNameInput').focus();
            };
        }, false);

        this.socket.on('nickExisted', function(){
            document.getElementById('info').textContent = '用户已存在';
        })
        this.socket.on('loginSuccess', function(nickName){
            document.getElementById('nickWrapper').style.display = 'none';
            document.getElementById('messageInput').focus();
            that.player.name = nickName;
        });
        this.socket.on('system', function(nickName, userCount, type){
            var msg = nickName + (type == 'login' ? ' 加入' : ' 离开');
            that._displayNewMsg('system', msg, 'red');
            document.getElementById('status').textContent = userCount+'个用户在线';
            
            if(!that.playerDic.hasOwnProperty(nickName)){ //只有选人了 才会在玩家字典中加入数据 
                return;
            }
            var player = that.playerDic[nickName];
            if(type == 'login'){
                player.setOnline(true);
            }else{
                player.setOnline(false);
            }
                that.refreshPlayerState(player);
        });
        this.socket.on('newMsg', function(nickName, msg){
            that._displayNewMsg(nickName, msg);
        });
        this.socket.on('EmpIdNotFound', function(){
            document.getElementById('info').textContent = '员工编号不存在';
        });

        // 游戏模块
        this.socket.on('event_pick', function(name, type, state){
            var player = new Player();
            player.name = name;
            player.type = type;
            player.state = state;
            player.isOnline = true;
            that.refreshPlayerState(player);
            that.playerDic[name] = player;
            document.getElementById(type+'Btn').setAttribute('disabled', 'true');
        });
        this.socket.on('event_prepare', function(name, state){
            var player = that.playerDic[name];
            player.state = state;
            that.refreshPlayerState(player);
        });
        this.socket.on('game_start', function(){
            that._displayNewMsg('game', '所有玩家已准备，游戏开始');
            document.getElementById('gameState').innerHTML = config.state.started;
            document.getElementById('prepareBtn').setAttribute('disabled', true);
            game.state = config.state.started;
        });
        this.socket.on('game_prepare', function(){
            that._displayNewMsg('game', '所有玩家已选择席位，游戏准备中');
            document.getElementById('gameState').innerHTML = config.state.preparing;
        });
        this.socket.on('event_occupy', function(row1, col1, name, type, row2, col2){
            var firstCamp = chessBoard[row1][col1];
            var camp = chessBoard[row2][col2];
            game.showMoveRoute(firstCamp, camp, function(){
                game.occupyCamp(firstCamp, camp)
            });
         
        });
        this.socket.on('event_attack', function(row1, col1, name, type, row2, col2){
            var firstCamp = chessBoard[row1][col1];
            var camp = chessBoard[row2][col2];
            game.showMoveRoute(firstCamp, camp, function(){
                game.attackCamp(firstCamp, camp)
            });
           
        });
        this.socket.on('event_turnorder', function(nextType){
            if(nextType == that.player.type){
                game.isOnOrder = true;
            }
            document.getElementById('currentPlayer').innerHTML = '&nbsp;轮到 ['+game.getType(nextType)+'] 行进...';
            
        })

        //pick 
        document.getElementById('pickDiv').addEventListener('click', function(e){
            if(that.player.state == config.state.pick){
                if(e.target.hasAttribute('data')){
                    var dataType = e.target.getAttribute('data'); // 选择了其中一席，不能再改变
                    that.socket.emit('event_pick', that.player.name, dataType, config.state.preparing);
                    that.socket.on('seatSelected', function(name, type){
                        alert(game.getType(type)+'已被'+name+'选择');
                        e.target.disabled = true;
                        return;
                    });
                    that.socket.on('event_pick_success', function(){
                        e.target.disabled = true;
                        that.player.setType(dataType);
                        that.player.isOnline = true;
                        that.player.setState(config.state.preparing);
                        that.refreshPlayerState(that.player);
                        that.player.initOtherPlayer();
                        switch(dataType){
                            case 'red':
                            that.redPlayer = that.player;
                            that.greenPlayer = new Player('green');
                            that.yellowPlayer = new Player('yellow');
                            that.bluePlayer = new Player('blue');
                            break;
                            case 'green':
                            that.greenPlayer = that.player;
                            that.redPlayer = new Player('red');
                            that.yellowPlayer = new Player('yellow');
                            that.bluePlayer = new Player('blue');
                            break;
                            case 'yellow':
                            that.yellowPlayer = that.player;
                            that.greenPlayer = new Player('green');
                            that.redPlayer = new Player('red');
                            that.bluePlayer = new Player('blue');
                            break;
                            case 'blue':
                            that.bluePlayer = that.player;
                            that.greenPlayer = new Player('green');
                            that.yellowPlayer = new Player('yellow');
                            that.redPlayer = new Player('red');
                            break;
                        }
                        that.player.renderPrepare();
                        that.playerDic[that.player.name] = that.player;
                    });
                }
            }
        });
        //准备阶段
        document.getElementById('prepareBtn').addEventListener('click', function(event){
            if(that.player.state == config.state.pick){
                alert('当前处于选人状态，请先选择一方席位');
                return;
            }
            if(event.currentTarget.value == '准备'){
                event.currentTarget.setAttribute('value', '取消准备');
                that.player.state = config.state.prepared;
                if(firstCamp){
                    firstCamp.drawChess();
                    firstCamp = null;
                }
                // prepareTip.innerHTML = '已准备';
            }else{
                event.currentTarget.setAttribute('value', '准备');
                that.player.state = config.state.preparing;
                // prepareTip.innerHTML = '未准备';
            }
            that.refreshPlayerState(that.player);
            that.socket.emit('event_prepare', that.player.name, that.player.state);
        });                
    },
    _displayNewMsg: function(user, msg, color){
        var container = document.getElementById('historyMsg'),
            msgToDisplay = document.createElement('p'),
            date = new Date().toTimeString().substr(0, 8);
        msgToDisplay.style.color = color || '#000';
        msgToDisplay.innerHTML = user + '<span class="timespan">('+date+'):</span>'+msg;
        container.appendChild(msgToDisplay);
        container.scrollTop = container.scrollHeight; 
    },
    refreshPlayerState : function(player){
        var online = player.isOnline ? '在线' : '离线';
        var name = player.name;
        var state = player.state;
        var color = player.getType();

        var msg = '['+online+'] '+name+' '+state + ' '+ color;
        var span = document.createElement('span');
        span.innerHTML = msg;
        var target = document.getElementById(name);
        if(target){
            target.firstChild.remove();
        }else{
            target = document.createElement('div');
            target.setAttribute('id', name);
            document.getElementById('gameWindow').appendChild(target);
        }
        target.appendChild(span);
    },
    initPlayer : function(){
        this.player = new Player();
    },
    broadcastOccupy: function(firstCamp, camp){//广播占营事件
        this.socket.emit('event_occupy', firstCamp.rowIdx, firstCamp.colIdx, firstCamp.filledChess.name, firstCamp.filledChess.type, camp.rowIdx, camp.colIdx);
    },
    broadcastAttack: function(firstCamp, camp){ //广播attack事件
        this.socket.emit('event_attack', firstCamp.rowIdx, firstCamp.colIdx, firstCamp.filledChess.name, firstCamp.filledChess.type, camp.rowIdx, camp.colIdx);
    }
}

var Game = function(){
    this.state = config.state.pick;
}
Game.prototype = {
    init: function(){
        // 中营
        for(var i =0 ; i < middleCampIdxAry.length; i++){
            var row = middleCampIdxAry[i][0];
            var col = middleCampIdxAry[i][1];
            var camp = chessBoard[row][col];
            camp.setSize(chessW, chessW);
            drawCamp(camp, row, col);
        }
        // 下方 （玩家主视角)
        for(var i = 11; i < 17; i++){
            for(var j= 6; j < 11; j++){
                var camp = chessBoard[i][j];
                camp.setSize(chessW, chessH);
                drawCamp(camp, i, j);
            }
        }
        /// 上方
        for(var i = 5; i >= 0; i--){
            for(var j= 6; j < 11; j++){
                var camp = chessBoard[i][j];
                camp.setSize(chessW, chessH);
                camp.setTextRotate(-Math.PI);
                drawCamp(camp, i, j );
            }
        }
        //  左方
        for(var j = 5; j >=0; j--){
            for(var i= 6; i < 11; i++){
                var camp = chessBoard[i][j];
                camp.setSize(chessH, chessW);
                camp.setTextRotate(Math.PI/2);
                drawCamp(camp, i, j );

            }
        }
        // 右方
        for(var j = 11; j <17; j++){
            for(var i= 6; i < 11; i++){
                var camp = chessBoard[i][j];
                camp.setSize(chessH, chessW);
                camp.setTextRotate(-Math.PI/2);
                drawCamp(camp, i, j );
            }
        }
    },
    pickCamp: function(e){
        for(var i = 0 ; i < chessBoard.length; i++){
            for(var j =0 ; j < chessBoard[i].length; j++){
                var camp = chessBoard[i][j];
                if(camp.in_camp(e.pageX, e.pageY)){
                    return camp;
                }
            }
        }
        return null;
    },
    showMoveRoute: function(firstCamp, camp, callback){
        var  moveEffectCanvas = document.createElement('canvas');
        moveEffectCanvas.style.position = 'absolute';
        moveEffectCanvas.style.left = 0;
        moveEffectCanvas.style.top = 0;
        moveEffectCanvas.setAttribute('width', window.innerWidth)
        moveEffectCanvas.setAttribute('height', window.innerHeight );       
        document.body.appendChild(moveEffectCanvas);
        var c = moveEffectCanvas.getContext('2d')
        c.lineWidth = 3;
        c.strokeStyle = 'red';
        var isShow = true;
        var showCount = 0;
        var blinkblink = function(){
            if(isShow){
                c.strokeRect(firstCamp.originX-25, firstCamp.originY-25, 50, 50);
                c.strokeRect(camp.originX-25, camp.originY-25, 50, 50);
                isShow = false;
                showCount++;
                if(showCount == 3){
                    document.body.removeChild(moveEffectCanvas);
                    if(callback) callback();
                    return;
                }
            }else{
                c.clearRect(0,0, window.innerWidth, window.innerHeight);
                isShow = true;
            }
            setTimeout(blinkblink, 500);
        }
        blinkblink();
    },
    occupyCamp: function(firstCamp, camp ){
        console.log('选择了',camp.type,'，准备进营');
        camp.drawChess(firstCamp.filledChess);
        firstCamp.filledChess = null;
        firstCamp.draw();
        firstCamp = null;
    },
    attackCamp: function(firstCamp, camp){
        console.log('选择了',camp.type,'，准备攻击');
        var result = GameRule.judgment(firstCamp.filledChess, camp.filledChess);// 双方棋子判定,判定进攻棋子是否能打过对方棋子
        switch(result)
        {
            case config.judgment.win:
                firstCamp.filledChesss = null;
                firstCamp.draw();
                console.log('哇哦！',camp.filledChess.type,'方阵亡');
                break;
            case config.judgment.die:
                firstCamp.filledChess = null;
                firstCamp.draw();
                camp.filledChess = null;
                camp.draw();
                break;
            case config.judgment.fail:
                firstCamp.filledChess = null;
                firstCamp.draw();
                break;
            case config.judgment.success:
                camp.filledChess = firstCamp.filledChess;
                camp.drawChess();
                firstCamp.filledChess = null;
                firstCamp.draw();
                break;
        }
        firstCamp = null;
    },
    getType: function(type){
        if(type == 'red'){
            return '红方';
        }else if(type == 'blue'){
            return '蓝方';
        }else if(type == 'yellow'){
            return '黄方';
        }else if(type == 'green'){
            return '绿方';
        }
        return '未选择';
    }
       
}

var Vertex2d = function(x, y){
    this.x = x;
    this.y = y;
}

var boundsWidth = 850;
var boundsHeight = 850;
var boundsCenterX =window.innerWidth / 2; 
var ltx = boundsCenterX - boundsWidth / 2 ;
var rbx = ltx + boundsWidth;
var boundsCenterY =window.innerHeight / 2; 
var lty = boundsCenterY - boundsHeight / 2 ;
var rby = lty + boundsHeight;
var bounds = {
    lt: new Vertex2d(ltx,lty),
    rb: new Vertex2d(rbx, rby),
    vgap : function(){
        return (this.rb.y - this.lt.y) / (maxCols-1);
    },
    hgap : function(){
        return (this.rb.x - this.lt.x) / (maxRows-1);
    }
}

var GameRule = {
    violateChessPosition: function(chess, row, col){
        // 炸弹 和 军旗放错了位置 
        var temp = row+','+col;
        if(chess.name == '军旗'  ){
            if(temp == '16,7' || temp == '16,9'){
                return false;
            }else{
                return true;
            }
        }
        if(chess.name == '炸弹'){
            if(row != 11){
                return false;
            }else{
                return true;
            }
        }
        return false;
    } ,
    violateChessExchange:function (player, firstCamp, secondCamp){
        // 交换了其他家旗子
        if(firstCamp.filledChess.type != player.type || secondCamp.filledChess.type != player.type){
            console.log('违反了规则：准备阶段，只能部署自己的棋子');
            return true;
        }
        return false;
    },
    judgment: function(myChess, enemyChess){
        // 如果干过了对方，返回 success
        // 如果没干过，返回     fail
        // 如果一样大，返回     die
        // 如果扛了旗， 返回    win 
        //几个特殊的  炸弹 地雷 军旗
        if(enemyChess.name == '军旗')
        {
            console.log('厉害了我的哥，扛了军旗，你就赢了')
            return config.judgment.win;
        } 
        if(myChess.name == '炸弹' || enemyChess.name =='炸弹' || myChess.name == enemyChess.name){
            console.log('出来混，迟早要还的，双双阵亡')
            return config.judgment.die;
        }
        if(enemyChess.name== '地雷' && myChess.name != '工兵'){
            console.log('哇哦，你挂了')
            return config.judgment.fail;
        }
        var myIdx = pieces.indexOf(myChess.name); 
        var enemyIdx = pieces.indexOf(enemyChess.name);
        if(myIdx > enemyIdx){
            // 没干过
            console.log('哇哦，你挂了')
            return config.judgment.fail;
        }
        if(myIdx < enemyIdx){
            console.log('666，你赢了')
            return config.judgment.success;
        }
    }
}

var Camp = function(x, y, rowIdx, colIdx){
    this.type = '兵站';
    this.originX = x;
    this.originY = y;
    this.fillColor = '#fff';
    this.rowIdx = rowIdx;
    this.colIdx = colIdx;
    this.isClick = false;
    this.filledChess = null; 

    this.draw = function(){
        this.clearRect();
        ctx.strokeStyle = 'red';
        ctx.fillStyle = '#fff';
        if(this.type == '行营'){
            ctx.beginPath();
            ctx.arc(this.originX, this.originY, 25, 0, Math.PI*2);
            ctx.stroke();
            ctx.fill();
        }else{
            ctx.strokeRect(this.x, this.y, this.chessWidth,this.chessHeight);
            ctx.fillRect(this.x, this.y,this.chessWidth,this.chessHeight);
        }
        this.drawText(this.type);
    }  

    this.drawText = function(text){
        ctx.save(); 
        // 填充文字
        // 旋转之前将画布的中心位置translate到对象的中心点
        if(typeof(this.rotateRadian) !== 'undefined' ){
            ctx.translate(this.originX, this.originY);
            ctx.rotate(this.rotateRadian);
            ctx.translate(-this.originX, -this.originY);
        }
        ctx.font = 'normal 14px 微软雅黑';
        ctx.fillStyle = '#000';
        ctx.textAlign = 'center';
        ctx.fillText(text, this.x+this.chessWidth/2, this.y + this.chessHeight/2);
        ctx.restore();
    }

    this.drawChess = function(chess){
        this.clearRect();
        if(chess){
            this.filledChess = chess;
        }
        ctx.fillStyle = this.filledChess.fillColor;
        ctx.fillRect(this.x , this.y ,this.chessWidth,this.chessHeight);
        ctx.save(); 
        // if(typeof(this.rotateRadian) !== 'undefined' ){
        //     ctx.translate(this.originX, this.originY);
        //     ctx.rotate(this.rotateRadian);
        //     ctx.translate(-this.originX, -this.originY);
        // }
        if(this.filledChess.isShowName ){
            ctx.font = 'bold 15px 微软雅黑';
            ctx.fillStyle = '#000';
            ctx.textAlign = 'center';
            ctx.fillText(this.filledChess.name, this.x+this.chessWidth/2, this.y + this.chessHeight/2);
        }
        ctx.restore();
        
    }

    this.in_camp = function(pageX, pageY){
        if(pageX > this.x && pageX < this.x + this.chessWidth && pageY > this.y && pageY < this.y + this.chessHeight){
            return true;
        }
        return false;
    }
}
Camp.prototype ={
    setSize: function(w, h){
        this.chessWidth = w;
        this.chessHeight = h;
        this.x = this.originX - this.chessWidth/2;
        this.y = this.originY - this.chessHeight/2
    },
    setTextRotate : function(radian){
        this.rotateRadian = radian; // 弧度 Math.PI
    },
    setFill: function(fillColor){
        this.fillColor = fillColor;
    },
    setClicked: function(){
        if(this.filledChess == null) return;
        this.isClick = this.isClick ? false: true;
        if(this.isClick){
            this.drawBounds();
        }else{
            this.clearBounds();
        }
    },
    drawBounds: function(){
        var that = this;
        ctx.lineWidth = 2;
        ctx.strokeStyle = '#000';
        ctx.strokeRect(that.x, that.y, that.chessWidth, that.chessHeight);
    },
    clearBounds: function(){
        this.clearRect();
        this.draw();
        if(this.filledChess != null){
            this.drawChess(this.filledChess);
        }
    },
    clearRect: function(){
        this.isClick = false;
        ctx.clearRect(this.x-2, this.y-2, this.chessWidth+4, this.chessHeight+4);
    }
};   

var Observer = function(){
    this.name = '';
    this.isOnline = false; 
}     


window.onload = function(){
    canvas.setAttribute('width', window.innerWidth );       
    canvas.setAttribute('height', window.innerHeight );       
      
    canvas.addEventListener('mousedown', function(e){
        game.state = config.state.started;
        if(game.state == config.state.started){ //游戏开始 开始按顺序走步了
            var camp = game.pickCamp(e);
            if(!camp) return;
            if(firstCamp == null){
                if(!camp.filledChess){
                    console.log('请先选择棋子');
                    return;
                }
                if(camp.filledChess && camp.filledChess.type != hichat.player.type){
                    console.log('请先选择自己的棋子');
                    return;
                }
                if(camp.filledChess && camp.type == '大本营'){
                    console.log('大本营中的棋子不能动')
                    return;
                }
                if(camp.filledChess && camp.filledChess.name == '地雷'){
                    console.log('地雷不能动')
                    return ;
                }
                camp.setClicked();
                firstCamp = camp; //选中了己方棋子之后，就可以选择进营，或攻击对方                
            }else{
                if(camp == firstCamp){
                    // console.log('取消选择')
                    camp.setClicked();
                    firstCamp = null;
                    return;
                }
                if(camp.filledChess && camp.filledChess.type == firstCamp.filledChess.type){
                    // console.log('重新选择了');
                    camp.setClicked();
                    firstCamp.setClicked();
                    firstCamp = camp;
                    return;
                }
                if(camp.filledChess && camp.filledChess.type == hichat.player.teamPlayer.type){
                    console.log('厉害了我的哥，连队友都不放过!');
                    return;
                }
                if(!camp.filledChess){
                    game.showMoveRoute(firstCamp, camp, function(){
                        hichat.broadcastOccupy(firstCamp, camp);
                        game.occupyCamp(firstCamp, camp);
                        firstCamp = null;
                    });
                }
                if(camp.filledChess && camp.filledChess.type != hichat.player.type && camp.filledChess.type != hichat.player.teamPlayer.type){
                    game.showMoveRoute(firstCamp, camp, function(){
                        hichat.broadcastAttack(firstCamp, camp);
                        game.attackCamp(firstCamp, camp);
                        firstCamp = null;
                    });
                }
            }
            return ;
        }
        if(hichat.player.state == config.state.prepared){ //已准备， 不能再调换棋子
            return;
        }
        for(var i = 0 ; i < chessBoard.length; i++){
            for(var j =0 ; j < chessBoard[i].length; j++){
                var camp = chessBoard[i][j];
                if(camp.in_camp(e.pageX, e.pageY)){
                    if(camp.type == '行营'){
                        console.log('点击了行营');
                        return;
                    }
                    if(camp.filledChess == null){
                        return ;
                    }
                    console.log('点击了兵营');
                    camp.setClicked();
                    if(firstCamp == null){
                        firstCamp = camp;
                    }else{
                        if(firstCamp != camp){
                            secondCamp = camp;
                            // to  do thing
                            var tempChess = firstCamp.filledChess;
                            firstCamp.filledChess = secondCamp.filledChess;
                            secondCamp.filledChess = tempChess;
                            var reset = function(){
                                secondCamp.filledChess = firstCamp.filledChess;
                                firstCamp.filledChess = tempChess; 
                            }
                            // 交换完  判断是否违反了规则
                            if(GameRule.violateChessPosition(firstCamp.filledChess, firstCamp.rowIdx, firstCamp.colIdx) || GameRule.violateChessPosition(secondCamp.filledChess, secondCamp.rowIdx, secondCamp.colIdx)){
                                reset();    
                            }
                            if(GameRule.violateChessExchange(hichat.player, firstCamp, secondCamp)){
                                reset();
                            }
                            firstCamp.drawChess();
                            secondCamp.drawChess();
                            firstCamp = null;
                            secondCamp = null;
                        }else{
                            firstCamp = null;
                            secondCamp = null;
                        }
                    }
                }
            }
        }
    })
    for(var i= 0 ; i < maxRows; i++){
        chessBoard[i] = [];
        var ctx = canvas.getContext('2d');
        ctx.beginPath();
        ctx.moveTo(bounds.lt.x, i*bounds.vgap()+bounds.lt.y);
        ctx.lineTo(bounds.lt.x + bounds.hgap()*(maxRows-1), i*bounds.vgap() +bounds.lt.y);
        ctx.stroke();
        ctx.beginPath();
        ctx.moveTo(i*bounds.hgap()+bounds.lt.x, bounds.lt.y);
        ctx.lineTo(i*bounds.hgap() + bounds.lt.x, bounds.lt.y +bounds.vgap()*(maxCols -1) );
        ctx.stroke();
        for(var j = 0 ; j < maxCols ; j++){
            var originX = bounds.lt.x + j*bounds.hgap() ;
            var originY =  bounds.lt.y + i*bounds.vgap();
            var camp = new Camp(originX, originY, i, j);
            chessBoard[i][j] = camp;
        }
    }

    function drawRailRoad(){
        ctx.save();
        ctx.lineWidth = 6;
        for(var key in railRoadRowDic){
            var start = railRoadRowDic[key][0];
            var end = railRoadRowDic[key][railRoadRowDic[key].length - 1]; 
            ctx.beginPath();
            var x = chessBoard[start[1]][start[0]].originX;
            var y = chessBoard[start[1]][start[0]].originY;
            var x1 = chessBoard[end[1]][end[0]].originX;
            var y1 = chessBoard[end[1]][end[0]].originY;
            ctx.moveTo(x, y);
            ctx.lineTo(x1, y1);
            ctx.stroke();
        }
        for(var key in railRoadColDic){
            var start = railRoadColDic[key][0];
            var end = railRoadColDic[key][railRoadColDic[key].length - 1]; 
            ctx.beginPath();
            var x = chessBoard[start[1]][start[0]].originX;
            var y = chessBoard[start[1]][start[0]].originY;
            var x1 = chessBoard[end[1]][end[0]].originX;
            var y1 = chessBoard[end[1]][end[0]].originY;
            ctx.moveTo(x, y);
            ctx.lineTo(x1, y1);
            ctx.stroke();
        }
        ctx.restore();
    }
    drawRailRoad();

    hichat = new HiChat();
    hichat.init();  
    game = new Game();
    game.init();

    var deg = 0 ;
        function rotate (){
            deg += 90;
            canvas.style.transform = 'rotate('+deg+'deg)'
           // setTimeout(rotate,1000);
        }
       // rotate()
}
        
    </script>
</html>
